:root {
  box-sizing: border-box;
  font-size: 20px;
}

@media all and (max-width: 768px) {
  :root {
    font-size: 15px;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  background-color: #000;
}

// .container-fluid {
//   padding: 0;
//   margin-left: 0;
//   margin-right: 0;
// }
